<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shan.tech.javlib.mapper.ActorMapper">
    <resultMap id="BaseResultMap" type="com.shan.tech.javlib.pojo.Actor">
        <result column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="label" property="label" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
        <result column="created_date" property="created_date" jdbcType="TIMESTAMP"/>
        <result column="updated_date" property="updated_date" jdbcType="TIMESTAMP"/>
        <result column="used_name" property="usedName" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="findById" resultMap="BaseResultMap">
        SELECT id, name, label, type, created_date, updated_date, used_name
        FROM actor
        WHERE id = #{id}
    </select>
    <select id="findAll" resultMap="BaseResultMap">
        SELECT id, name, label, type, created_date, updated_date, used_name
        FROM actor
    </select>
    <select id="findActorsByName" resultMap="BaseResultMap">
        <bind name="patten" value="'%' + name + '%'"/>
        SELECT id, name, label, type, created_date, updated_date, used_name
        FROM actor
        WHERE name like #{patten}
    </select>
</mapper>