<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shan.tech.javlib.mapper.ActorMapper">
    <resultMap id="BaseActorResultMap" type="com.shan.tech.javlib.pojo.Actor">
        <result column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="label" property="label" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
        <result column="created_date" property="createdDate" jdbcType="TIMESTAMP"/>
        <result column="updated_date" property="updatedDate" jdbcType="TIMESTAMP"/>
        <result column="used_name" property="usedName" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="findById" resultMap="BaseActorResultMap">
        SELECT id, name, label, type, created_date, updated_date, used_name
        FROM actor
        WHERE id = #{id}
    </select>
    <select id="findByLabel" resultMap="BaseActorResultMap">
        SELECT id, name, label, type, created_date, updated_date, used_name
        FROM actor
        WHERE label = #{label}
    </select>
    <select id="findAll" resultMap="BaseActorResultMap">
        SELECT id, name, label, type, created_date, updated_date, used_name
        FROM actor
    </select>
    <select id="findByPage" resultMap="BaseActorResultMap">
        SELECT id, name, label, type, created_date, updated_date, used_name
        FROM actor
    </select>
    <select id="findActorsByName" resultMap="BaseActorResultMap">
        <bind name="patten" value="'%' + name + '%'"/>
        SELECT id, name, label, type, created_date, updated_date, used_name
        FROM actor
        WHERE name like #{patten}
    </select>
    <insert id="insertActor">
        INSERT INTO actor (name, label, type, created_date, updated_date, used_name)
        VALUES (#{name}, #{label}, #{type}, #{createdDate}, #{updatedDate}, #{usedName})
    </insert>
    <update id="updateActor">
        UPDATE actor
        SET name= #{name}, label = #{label}, type = #{type}, created_date = #{createdDate}, updated_date = #{updatedDate}, used_name = #{usedName}
        WHERE id = #{id}
    </update>
    <insert id="insertActorsForVideo">
        INSERT INTO genre_video (actor_id, video_id)
        VALUES
        <foreach collection="list" item="actor" separator=",">
            (#{actor.id}, #{video.id})
        </foreach>
    </insert>
</mapper>