<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shan.tech.javlib.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.shan.tech.javlib.pojo.User">
        <result column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="created_date" property="created_date" jdbcType="DATE"/>
        <result column="updated_date" property="updated_date" jdbcType="DATE"/>
    </resultMap>
    <select id="findById" resultMap="BaseResultMap">
        SELECT id, name, password, created_date, updated_date FROM user WHERE id = #{id}
    </select>
    <select id="findAll" resultMap="BaseResultMap">
        SELECT id, name, password, created_date, updated_date FROM user
    </select>
</mapper>