<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shan.tech.javlib.mapper.VideoMapper">
    <resultMap id="BaseVideoResultMap" type="com.shan.tech.javlib.pojo.Video">
        <result column="id" property="id" jdbcType="BIGINT"/>
        <result column="label" property="label" jdbcType="VARCHAR"/>
        <result column="number" property="number" jdbcType="VARCHAR"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="year" property="year" jdbcType="INTEGER"/>
        <result column="rated" property="rated" jdbcType="VARCHAR"/>
        <result column="released" property="released" jdbcType="VARCHAR"/>
        <result column="runtime" property="runTime" jdbcType="INTEGER"/>
        <result column="director" property="director" jdbcType="VARCHAR"/>
        <result column="plot" property="plot" jdbcType="VARCHAR"/>
        <result column="poster" property="poster" jdbcType="VARCHAR"/>
        <result column="rating" property="rating" jdbcType="DOUBLE"/>
        <result column="meta_score" property="metaScore" jdbcType="DOUBLE"/>
        <result column="votes" property="votes" jdbcType="INTEGER"/>
        <result column="producer" property="producer" jdbcType="VARCHAR"/>
        <result column="publisher" property="publisher" jdbcType="VARCHAR"/>
        <result column="created_date" property="createdDate" jdbcType="TIMESTAMP"/>
        <result column="updated_date" property="updatedDate" jdbcType="TIMESTAMP"/>
    </resultMap>
    <resultMap id="DetailedVideoResultMap" type="com.shan.tech.javlib.pojo.Video">
        <result column="id" property="id" jdbcType="BIGINT"/>
        <result column="label" property="label" jdbcType="VARCHAR"/>
        <result column="number" property="number" jdbcType="VARCHAR"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="year" property="year" jdbcType="INTEGER"/>
        <result column="rated" property="rated" jdbcType="VARCHAR"/>
        <result column="released" property="released" jdbcType="VARCHAR"/>
        <result column="runtime" property="runTime" jdbcType="INTEGER"/>
        <result column="director" property="director" jdbcType="VARCHAR"/>
        <result column="plot" property="plot" jdbcType="VARCHAR"/>
        <result column="poster" property="poster" jdbcType="VARCHAR"/>
        <result column="rating" property="rating" jdbcType="DOUBLE"/>
        <result column="meta_score" property="metaScore" jdbcType="DOUBLE"/>
        <result column="votes" property="votes" jdbcType="INTEGER"/>
        <result column="producer" property="producer" jdbcType="VARCHAR"/>
        <result column="publisher" property="publisher" jdbcType="VARCHAR"/>
        <result column="created_date" property="createdDate" jdbcType="TIMESTAMP"/>
        <result column="updated_date" property="updatedDate" jdbcType="TIMESTAMP"/>
        <collection property="actorList" ofType="com.shan.tech.javlib.pojo.Actor">
            <result column="id" property="id" jdbcType="BIGINT"/>
            <result column="name" property="name" jdbcType="VARCHAR"/>
            <result column="label" property="label" jdbcType="VARCHAR"/>
            <result column="used_name" property="usedName" jdbcType="VARCHAR"/>
        </collection>
        <collection property="genreList" ofType="com.shan.tech.javlib.pojo.Genre">
            <result column="id" property="id" jdbcType="BIGINT"/>
            <result column="name" property="name" jdbcType="VARCHAR"/>
            <result column="label" property="label" jdbcType="VARCHAR"/>
        </collection>
    </resultMap>
    <select id="findById" resultMap="BaseVideoResultMap">
        SELECT id,
        title,
        label,
        number,
        title,
        year,
        rated,
        released,
        runtime,
        director,
        plot,
        poster,
        rating,
        meta_score,
        votes,
        producer,
        publisher,
        created_date,
        updated_date
        FROM video
        WHERE id = #{id}
    </select>
    <select id="findByLabel" resultMap="BaseVideoResultMap">
        SELECT id,
        title,
        label,
        number,
        title,
        year,
        rated,
        released,
        runtime,
        director,
        plot,
        poster,
        rating,
        meta_score,
        votes,
        producer,
        publisher,
        created_date,
        updated_date
        FROM video
        WHERE label = #{label}
    </select>
    <select id="findVideosByTitle" resultMap="BaseVideoResultMap">
        <bind name="patten" value="'%' + title + '%'"/>
            SELECT id,
            title,
            label,
            number,
            title,
            year,
            rated,
            released,
            runtime,
            director,
            plot,
            poster,
            rating,
            meta_score,
            votes,
            producer,
            publisher,
            created_date,
            updated_date
            FROM video
            WHERE title like #{patten}
    </select>
    <select id="findAll" resultMap="BaseVideoResultMap">
        SELECT id,
        title,
        label,
        number,
        title,
        year,
        rated,
        released,
        runtime,
        director,
        plot,
        poster,
        rating,
        meta_score,
        votes,
        producer,
        publisher,
        created_date,
        updated_date
        FROM video
    </select>
    <select id="findDetailedVideoById" resultMap="DetailedVideoResultMap">
        SELECT v.id,
        v.title,
        v.label,
        v.number,
        v.title,
        v.year,
        v.rated,
        v.released,
        v.runtime,
        v.director,
        v.plot,
        v.poster,
        v.rating,
        v.meta_score,
        v.votes,
        v.producer,
        v.publisher,
        v.created_date,
        v.updated_date,
        a.id,
        a.label,
        a.name,
        a.used_name,
        g.id,
        g.label,
        g.name
        FROM video v
        left outer join actor_video av on v.id = av.video_id
        left outer join actor a on av.actor_id = a.id
        left outer join genre_video gv on v.id = gv.video_id
        left outer join genre g on g.id = gv.genre_id
        where v.id = #{id}
    </select>
    <insert id="insertVideo" parameterType="com.shan.tech.javlib.pojo.Video" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO video (title, year, rated, released, runtime, director, plot, poster, rating, meta_score, votes,
        producer, publisher, created_date, updated_date, label, number)
        VALUES (#{title},#{year}, #{rated}, #{released}, #{runTime}, #{director}, #{plot}, #{poster}, #{rating},
        #{metaScore}, #{votes}, #{producer}, #{publisher}, #{createdDate}, #{updatedDate}, #{label}, #{number})
    </insert>
    <insert id="insertGenresForVideo">
        INSERT INTO genre_video (genre_id, video_id)
        VALUES
        <foreach collection="list" item="genre" separator=",">
            (#{genre.id}, #{video.id})
        </foreach>
    </insert>
    <insert id="insertActorsForVideo">
        INSERT INTO genre_video (actor_id, video_id)
        VALUES
        <foreach collection="list" item="actor" separator=",">
            (#{actor.id}, #{video.id})
        </foreach>
    </insert>
</mapper>